@model WeatherAppV2.WebApp.Models.ViewModels.UserView
@using WeatherAppV2.Domain.Models

@using WeatherAppV2.Domain.Entities.EMunicipality

@{

	String SetImage(String stateSky)
	{
		switch (stateSky)
		{
			case "Cubierto":
				return "/img/cloudy.svg";
				break;
			case "Despejado":
				return "/img/clear-day.svg";
				break;
			case "Nubes altas":
				return "/img/partly-cloudy-day.svg";
				break;
			case "Poco nuboso":
				return "/img/partly-cloudy-day.svg";
				break;
			case "Cubierto con lluvia escasa":
				return "/img/rain.svg";
				break;
			case "Muy nuboso":
				return "/img/cloudy.svg";
				break;
			default :
				return "";
				break;
		}
	}
}


<div class="d-flex justify-content-center">

	<div class="container bg-white shadow rounded-1 bloque mt-5 text-center">
		<h1>Hola: @Model.Username</h1>

		<h3 class="mt-5">Municipios Favoritos</h3>
		<div class="d-flex justify-content-center mt-5">

			@foreach (TemperatureRoot usermuni in ViewBag.UserMunicipalities)
			{
				<div class="minibloque bg-white shadow text-center mx-1">
					<b>@usermuni.municipio.Nombre</b>
					<p> <b class="container-text">@usermuni.temperatura_actual °C  <img src="@SetImage(usermuni.stateSky.description)" class="img" /> </b></p>
					<p><b>Max: </b> @usermuni.temperaturas.max <b>Min: </b> @usermuni.temperaturas.min</p>
				</div>
			}
		</div>
	</div>

</div>
