@model IEnumerable<WeatherAppV2.Domain.Entities.EProvince.Province>
@using WeatherAppV2.Domain.Entities.EMunicipality
@using WeatherAppV2.Domain.Models
@{
	String SetImage(String stateSky)
	{
		switch (stateSky)
		{
			case "Cubierto":
				return "/img/cloudy.svg";
				break;
			case "Despejado":
				return "/img/clear-day.svg";
				break;
			case "Nubes altas":
				return "/img/partly-cloudy-day.svg";
				break;
			case "Poco nuboso":
				return "/img/partly-cloudy-day.svg";
				break;
			case "Cubierto con lluvia escasa":
				return "/img/rain.svg";
				break;
			case "Muy nuboso":
				return "/img/cloudy.svg";
				break;
			default:
				return "";
				break;
		}
	}
}

<div class="container bg-white shadow rounded-1 bloque mt-5 text-center">
    <form asp-action="MunicipalityMenu" asp-controller="Municipality" method="post">

        <h1>Listado de Provincias</h1>

        <Select class="form-select mb-3" name="idprovince">
            @foreach (var province in Model)
            {
                <option value="@province.Codprov"> @province.NombreProvincia </option>
            }
        </Select>

        <button type="submit" class="btn btn-dark"> BUSCAR </button>

		@if (ViewBag.popularmun != null)
		{
			<div class="d-flex flex-wrap justify-content-center mt-5">

				@foreach (TemperatureRoot usermuni in ViewBag.popularmun)
				{
					<div class="minibloque bg-white shadow text-center m-1">
						<b>@usermuni.municipio.Nombre</b>
						<p> <b class="container-text">@usermuni.temperatura_actual °C  <img src="@SetImage(usermuni.stateSky.description)" class="img" /> </b></p>
						<p><b>Max: </b> @usermuni.temperaturas.max <b>Min: </b> @usermuni.temperaturas.min</p>
					</div>
				}
			</div>
		}
		
    </form>
</div>





